body {
    margin: 0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.mapboxgl-popup {
    max-width: inherit !important;
    z-index: 10;
}

.mapboxgl-popup-content {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
    padding: 15px !important;
}

.mapboxgl-popup-close-button {
    visibility: hidden;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

#ic_signupform .elcontainer {
    background: #ffffff;
    text-align: left;
    max-width: 450px;
    padding: 30px 30px;
    border-radius: 3px;
    border: 1px solid #acacac;
    font-size: 12px;
    color: #5a5a5e;
    font-family: verdana;
}

#ic_signupform .elcontainer.center-aligned .formEl {
    margin-right: auto;
    margin-left: auto;
}

#ic_signupform .elcontainer.right-aligned .formEl {
    margin-left: auto;
}

#ic_signupform .form-header {
    background: #ffffff;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 30px; /* using padding on purpose */
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-radius: calc(3px - 1px) calc(3px - 1px) 0 0;
    text-align: center;
    font-size: 150%;
    color: #333333;
    border-bottom: 1px solid #dddddd;
}

#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-input label,
#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-dropdown label,
#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-checkbox h3,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-input label,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-dropdown label,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-checkbox h3 {
    width: 30%;
}

#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-checkbox h3,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-checkbox h3 {
    line-height: 3em;
}

#ic_signupform .elcontainer.tight.inline-label-left .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.tight.inline-label-left .formEl.fieldtype-checkbox h3,
#ic_signupform .elcontainer.tight.inline-label-right .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.tight.inline-label-right .formEl.fieldtype-checkbox h3 {
    line-height: 2em;
}

#ic_signupform .elcontainer.generous.inline-label-left .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.generous.inline-label-left .formEl.fieldtype-checkbox h3,
#ic_signupform .elcontainer.generous.inline-label-right .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer.generous.inline-label-right .formEl.fieldtype-checkbox h3 {
    line-height: 4em;
}

#ic_signupform .elcontainer.inline-label-left .formEl input[type="text"],
#ic_signupform .elcontainer.inline-label-left .formEl select,
#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-radio .option-container,
#ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-checkbox .option-container,
#ic_signupform .elcontainer.inline-label-right .formEl input[type="text"],
#ic_signupform .elcontainer.inline-label-right .formEl select,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-radio .option-container,
#ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-checkbox .option-container {
    width: 70%;
}

#ic_signupform .elcontainer.hidden-label .formEl.required:before {
    color: #ffffff;
}

#ic_signupform .elcontainer .formEl {
    font-size: 1em;
}

#ic_signupform .elcontainer .formEl.fieldtype-input label,
#ic_signupform .elcontainer .formEl.fieldtype-dropdown label,
#ic_signupform .elcontainer .formEl.fieldtype-radio h3,
#ic_signupform .elcontainer .formEl.fieldtype-checkbox h3 {
    font-size: 100%;
    font-weight: bold;
    color: #5a5a5e;
}

#ic_signupform .elcontainer .formEl.fieldtype-input input[type="text"],
#ic_signupform .elcontainer .formEl.fieldtype-dropdown select {
    background-color: #f5f5f5;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
}

#ic_signupform .elcontainer .formEl.fieldtype-input input[type="text"],
#ic_signupform .elcontainer .formEl.fieldtype-dropdown select,
#ic_signupform .elcontainer .formEl.fieldtype-radio label,
#ic_signupform .elcontainer .formEl.fieldtype-checkbox label {
    font-size: 100%;
}

#ic_signupform .elcontainer .formEl input[type="text"]::-moz-placeholder {
    color: #c7c5c7;
    font-family: inherit;
}

#ic_signupform .elcontainer .formEl input[type="text"]::-webkit-input-placeholder {
    color: #c7c5c7;
    font-family: inherit;
}

#ic_signupform .elcontainer .formEl input[type="text"]:-ms-input-placeholder {
    color: #c7c5c7;
    font-family: inherit;
}

#ic_signupform .elcontainer .formEl input[type="text"],
#ic_signupform .elcontainer .formEl select,
#ic_signupform .elcontainer .formEl .option-container label {
    color: #ffffff;
    font-family: inherit;
}

#ic_signupform .elcontainer.inline-button .submit-container {
    display: inline-block;
    box-sizing: border-box;
    right: -0.5em;
    padding: 0 1em 0 0;
    position: relative;
    vertical-align: bottom;
    margin-bottom: 1em;
}

#ic_signupform .elcontainer.inline-button.tight .sortables {
    margin-bottom: -0.5em;
}

#ic_signupform .elcontainer.inline-button .sortables {
    margin-bottom: -1em;
}

#ic_signupform .elcontainer.inline-button.generous .sortables {
    margin-bottom: -1.5em;
}

#ic_signupform .elcontainer .submit-container {
    text-align: center;
}

#ic_signupform .elcontainer .submit-container input[type="submit"] {
    background: #e7cd4d;
    border: 0px solid #e7ce4d;
    border-radius: 10px;
    line-height: 1em;
    padding: 10px 25px;
    color: #ffffff;
    font-size: 100%;
    font-family: inherit;
    width: auto;
}
#___reactour svg {
    color: rgba(0, 0, 0, 0.5);
}

.highcharts-tooltip a {
    white-space: normal !important;
}

.highcharts-tooltip table {
    height: auto;
    width: 400px;
}

.tour-modal {
    border-radius: 10px;
}

.tour-modal::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}
